<footer class="footer bg-dark py-3 mt-auto" id="bottomFooter">
<div class="container">
    <div class="d-flex justify-content-between">
        <span class="text-muted">&copyYelpCamp 2020</span>
        <a href="/contact" class="text-muted">Contact Me</span>
    </div>
    
</div>
</footer>


