<link rel="stylesheet" href="/css/index.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
        <a href="/contact" class="nav-link">Contact Me</a>
      </div>

      <div class="navbar-nav ml-auto">

        <% if(!currentUser){ %>
        <a class="nav-link" href="/login">Log in</a>
        <a class="nav-link" href="/register">Register</a>
        
        <% } else{ %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown text-capitalize" data-offset="50,30" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Hello , <%= currentUser.firstName %>
            </a>

            
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark " aria-labelledby="navbarDropdown">  
             
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/accounts">Manage Account</a></li>
              <li><a class="dropdown-item" href="/Logout">Logout</a></li>
              
            </ul>
          </div>

         


        <% } %>
      </div>

    </div>
  </div>
</nav>