.img-fluid{
    height: 15vw;
    object-fit: cover;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-menu :hover {color: #1e88e5;}
}